In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Read in SPR output data to dataframe, see sample xlsx for format. 
# Read in student codes to dataframe, can be updated as needed.
df = pd.read_excel('Yr8_9_daymap_preparation.xlsx')
studentCodes = pd.read_csv('ClassCodes.csv',index_col=0)

In [3]:
# Create dictionary from student codes
SCDict = studentCodes.to_dict(orient='dict')

In [4]:
# Select only important columns.
df= df[['Student','ID','Level','Select','Report','Report.1']]

In [5]:
# Create criteria to select only the row that match the following:
criteria1 = df['Select']== 'Subject'
criteria2 = df['Report']== 'grade'
criteria3 = df['Report.1'].isin(['A','B','C+','C','C-','D','E','NA','UC']) 
criteriaall = criteria1 & criteria2 & criteria3

In [6]:
# Modify dataframe to match criteria and add a subject column.
dfsorted = df[criteriaall]
dfsorted = dfsorted.sort_values(['Student','Report.1'])
dfsorted = dfsorted.reset_index(drop=True)
dfsorted.columns = ['Student ID','Year Level','Subject Code','Select','Report','EnteredText']
subjects = []
for i in range(len(dfsorted.index)):
    subjects.append(SCDict['Subject Name'][dfsorted.loc[i,'Subject Code']])
dfsorted['Subject'] = subjects
dfsorted.tail(7)

,Student ID,Year Level,Subject Code,Select,Report,EnteredText,Subject
2297,170416,8,8LLA1,Subject,grade,B,8 Language & Literacy
2298,170416,8,8AT02,Subject,grade,C,8 Art
2299,170416,8,8EG02,Subject,grade,C,8 English
2300,170416,8,8PE02,Subject,grade,C,8 Physical Education
2301,170416,8,8SC02,Subject,grade,C-,8 Science
2302,170416,8,8MAA3,Subject,grade,E,8 Maths General
2303,170416,8,8SV02,Subject,grade,E,8 Humanities

In [7]:
# Separate data into a year 8 and 9 dataframe
year8 = dfsorted[dfsorted['Year Level']== 8].reset_index(drop=True)
year9 = dfsorted[dfsorted['Year Level']== 9].reset_index(drop=True)

In [8]:
# Output dataframes to CSV
year8.to_csv('Output_'+'year8.csv', encoding='utf-8', index=False)
year9.to_csv('Output_'+'year9.csv', encoding='utf-8', index=False)